body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.city {
   font-size: 40px;
   text-align: center;
   padding-top: 20px;
}
.row {
   display: flex;
   flex-wrap: wrap;
}
.col {
   flex: 1;
   min-width: 140px;
   text-align: center;
   vertical-align: middle;
}
.temp {
   padding-top: 25px;
   padding-left: 10px;
   text-align: center;
   font-size: 50px;
}
.fonts_big {
   color: beige;
   text-shadow: 5px 5px 11px #111;
}
.fonts_med {
   color: #111;
   text-shadow: 3px 3px 8px #eee;
}
.med_font {
   font-size: 3vh;
}
.window {
   min-width: 300px;
   min-height: 500px;
   padding: 10px;
   border-radius: 10px;
   background: rgba(5, 5, 5, 0.3); /*  10% opaque green */
}
.bg_image {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.sb {
   border: 1px dotted red;
   padding: 3px;
}
/* centering */
.vertical-center {
   margin: 0;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
.center-inner {
   display: table;
   margin: 0 auto;
}

.center-outer {
   width: 100%;
}
.center {
   margin: auto;
   text-align: center;
}
